<div class="interactive-wrapper">
    <!-- HEADER -->
    <div class="gv-header gv-full-width">
        <div class="gv-header-background"></div>
        <div class="gv-header-inner gv-page-width">
            <div class="gv-header-text gv-main-column">
                <h1>Beyond the Blade</h1>
                <p>
                    We tracked all the knife deaths of children and teens in Great Britain in 2017 and explored the themes that emerged.
                    <br/>Gary Younge accepted Feature Writer of the year at the UK Press Awards for the team. Judges described the series as: “brilliant in-depth journalism that told a familiar story in a new way [and] had a real impact”
                </p>
                <div class="gv-button" id="gv-more-button"><span>More from the series</span></div>
            </div>
        </div>
    </div>
    <!-- CONTENT -->
    <div class="gv-content gv-page-width">
        <div class="gv-content-inner">
            <div class="gv-content-section">
                <div class="gv-left-column">
                    <h2>Films</h2>
                    <p>Knife crime devastates communities. This series of short films uses composite characters to offer a fleeting glimpse into how people cope with tragedy. Any similarity to real people, living or dead, is a coincidence.</p>
                </div>
                <div class="gv-cards gv-main-column-full">
                    <div class="gv-card gv-film-card">
                        <div class="gv-card-graphic"><img src="<%= path %>/assets/imgs/Poster-father.png" /></div>
                        <div class="gv-card-footer"><span>A father mourns the loss of his son to knife crime</span></div>
                    </div>
                    <div class="gv-card gv-film-card">
                        <div class="gv-card-graphic"><img src="<%= path %>/assets/imgs/Poster-mother.png" /></div>
                        <div class="gv-card-footer"><span>A mother knew her son might commit a violent crime, but couldn’t stop him</span></div>
                    </div>
                    <div class="gv-card gv-film-card">
                        <div class="gv-card-graphic"><img src="<%= path %>/assets/imgs/Poster-boy.png" /></div>
                        <div class="gv-card-footer"><span>A teenager in a young offenders institution reflects on why he killed another boy</span></div>
                    </div>
                    <div class="gv-card gv-film-card">
                        <div class="gv-card-graphic"><img src="<%= path %>/assets/imgs/Poster-doctor.png" /></div>
                        <div class="gv-card-footer"><span>A surgeon sees the same kids keep coming in with knife wounds</span></div>
                    </div>
                </div>
            </div>
            <div class="gv-content-section">
                <div class="gv-left-column">
                    <h2>Podcasts</h2>
                    <p>People from around the country share the conversations they're having within their own communities about knife crime.</p>
                </div>
                <div class="gv-cards gv-main-column-full">
                    <div class="gv-card gv-podcast-card">
                        <div class="gv-card-graphic"><img src="<%= path %>/assets/imgs/Poster-croydon.png" /></div>
                        <div class="gv-card-footer"><span>“We’ve got to start looking at how we categorise people that are poorer than other people”</span></div>
                    </div>
                    <div class="gv-card gv-podcast-card">
                        <div class="gv-card-graphic"><img src="<%= path %>/assets/imgs/Poster-bristol.png" /></div>
                        <div class="gv-card-footer"><span>“Violence is a public health issue”</span></div>
                    </div>
                    <div class="gv-card gv-podcast-card">
                        <div class="gv-card-graphic"><img src="<%= path %>/assets/imgs/Poster-birmingham.png" /></div>
                        <div class="gv-card-footer"><span>“He would have just been another kid thrown onto a heap of excluded children”</span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <div class="gv-footer gv-page-width">
            <div class="gv-footer-inner gv-main-column-full">
                
                    <div class="gv-footer-section">
                        <h2>Making the series</h2>
                        <p>Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
                        <div class="gv-button" id="gv-more-button"><span>Read the article</span></div>
                    </div>
               
            </div>
        </div>
    </div>