<div class="interactive-wrapper">
    <!-- HEADER -->
    <div class="gv-header gv-full-width">
        <div class="gv-header-background"></div>
        <div class="gv-header-inner gv-page-width">
            <div class="gv-header-text gv-main-column">
                <h1>Beyond the Blade</h1>
                <p>
                    We tracked all the knife deaths of children and teens in Great Britain in 2017 and explored the themes that emerged.
                    <br/>Gary Younge accepted Feature Writer of the year at the UK Press Awards for the team. Judges described the series as: “brilliant in-depth journalism that told a familiar story in a new way [and] had a real impact”
                </p>
                <div class="gv-button" id="gv-more-button"><span>More from the series</span>
                    <svg width="24" height="24" viewBox="240 334 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd" transform="translate(240 334)">
                            <path fill="#F6F6F6" d="M4 12.68h13.3l-5.22 6.15.68.67L20 12.34v-.68L12.76 4.5l-.68.67 5.2 6.15H4"></path>
                        </g>
                    </svg>
                    <a class="gv-link" href="https://www.guardian.co.uk"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTENT -->
    <div class="gv-content gv-page-width">
        <div class="gv-content-inner">
            <div class="gv-content-section">
                <div class="gv-left-column">
                    <h2>Films</h2>
                    <p>Knife crime devastates communities. This series of short films uses composite characters to offer a fleeting glimpse into how people cope with tragedy. Any similarity to real people, living or dead, is a coincidence.</p>
                </div>
                <div class="gv-cards gv-main-column-full">
                    <div class="gv-card gv-film-card">
                        <a class="gv-link" href="https://www.guardian.co.uk"></a>
                        <div class="gv-card-graphic"><img src="<%= path %>/assets/imgs/Poster-father.png" /></div>
                        <div class="gv-card-footer"><p>A father mourns the loss of his son to knife crime</p></div>
                    </div>
                    <div class="gv-card gv-film-card">
                        <a class="gv-link" href="https://www.guardian.co.uk"></a>
                        <div class="gv-card-graphic"><img src="<%= path %>/assets/imgs/Poster-mother.png" /></div>
                        <div class="gv-card-footer"><p>A mother knew her son might commit a violent crime, but couldn’t stop him</p></div>
                    </div>
                    <div class="gv-card gv-film-card">
                        <a class="gv-link" href="https://www.guardian.co.uk"></a>
                        <div class="gv-card-graphic"><img src="<%= path %>/assets/imgs/Poster-boy.png" /></div>
                        <div class="gv-card-footer"><p>A teenager in a young offenders institution reflects on why he killed another boy</p></div>
                    </div>
                    <div class="gv-card gv-film-card">
                        <a class="gv-link" href="https://www.guardian.co.uk"></a>
                        <div class="gv-card-graphic"><img src="<%= path %>/assets/imgs/Poster-doctor.png" /></div>
                        <div class="gv-card-footer"><p>A surgeon sees the same kids keep coming in with knife wounds</p></div>
                    </div>
                </div>
            </div>
            <div class="gv-content-section">
                <div class="gv-left-column">
                    <h2>Podcasts</h2>
                    <p>People from around the country share the conversations they're having within their own communities about knife crime.</p>
                </div>
                <div class="gv-cards gv-main-column-full">
                    <div class="gv-card gv-podcast-card">
                        <a class="gv-link" href="https://www.guardian.co.uk"></a>
                        <div class="gv-card-graphic"><img src="<%= path %>/assets/imgs/Poster-croydon.png" /></div>
                        <div class="gv-card-footer"><p>“We’ve got to start looking at how we categorise people that are poorer than other people”</p></div>
                    </div>
                    <div class="gv-card gv-podcast-card">
                        <a class="gv-link" href="https://www.guardian.co.uk"></a>
                        <div class="gv-card-graphic"><img src="<%= path %>/assets/imgs/Poster-bristol.png" /></div>
                        <div class="gv-card-footer"><p>“Violence is a public health issue”</p></div>
                    </div>
                    <div class="gv-card gv-podcast-card">
                        <a class="gv-link" href="https://www.guardian.co.uk"></a>
                        <div class="gv-card-graphic"><img src="<%= path %>/assets/imgs/Poster-birmingham.png" /></div>
                        <div class="gv-card-footer"><p>“He would have just been another kid thrown onto a heap of excluded children”</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <div class="gv-footer gv-page-width">
        <div class="gv-footer-inner gv-main-column-full">
            <div class="gv-footer-section">
                <h2>Making the series</h2>
                <p>Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
                <div class="gv-button" id="gv-more-button"><span>Read the article</span>
                    <svg width="24" height="24" viewBox="240 334 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd" transform="translate(240 334)">
                            <path fill="#F6F6F6" d="M4 12.68h13.3l-5.22 6.15.68.67L20 12.34v-.68L12.76 4.5l-.68.67 5.2 6.15H4"></path>
                        </g>
                    </svg>
                    <a class="gv-link" href="https://www.guardian.co.uk"></a>
                </div>
            </div>
            <div class="gv-footer-section gv-last">
                <h2>Making the series</h2>
                <p>Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
                <div class="gv-button" id="gv-more-button"><span>Read the article</span>
                    <svg width="24" height="24" viewBox="240 334 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd" transform="translate(240 334)">
                            <path fill="#F6F6F6" d="M4 12.68h13.3l-5.22 6.15.68.67L20 12.34v-.68L12.76 4.5l-.68.67 5.2 6.15H4"></path>
                        </g>
                    </svg>
                    <a class="gv-link" href="https://www.guardian.co.uk"></a>
                </div>
            </div>
        </div>
    </div>
</div>