@import "mq";
@import "fonts";
@import "palette";
@import "columns";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

footer {
    //display: block!important;
}

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.interactive-atom::before,
.interactive-atom::after {
  background-color: #121212;
}

.interactive-wrapper {

	.gv-link {
		text-decoration: none;
		cursor: pointer;
		//position: absolute;
		//z-index: 999;
        color: #fff;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
    &:hover {
      .gv-card-graphic {
        opacity: 0.8;
      }
    }
	}

    background-color: #121212;
    color: #fff;
    vertical-align: top;

    h1 {
    	font-size: 40px;
    	line-height: 40px;
    	font-family: $f-serif-headline;
    	top: -6px;
        bottom: 0;
    	display: block;
    	position: relative;
      width: 200px;
      @include mq(mobileLandscape) {
        width: 100%;
      }
        height: 1px;
        span {
            position: absolute;
            display: block;
            bottom: 0;
        }
          @include mq(desktop) {
            top: -15px;
        font-size: 50px;
        line-height: 50px;

        }

          @include mq(leftCol) {

        &:before {
            content: "";
            display: block;
            height: 57px;
            top: -42px;
            left: -11px;
            position: absolute;
            border-left: 1px solid rgba(255, 255, 255, 1);
        }
        }
    }

    h2 {
        font-size: 20px;
         line-height: 24px;
        padding: 3px 0 5px 0;
        margin: 0;
        font-family: $f-serif-headline;
         @include mq(wide) {
        font-size: 24px;
         line-height: 28px;
        }


    }
    p {
        font-size: 16px;
        line-height: 23px;
        margin: 0;
        padding: 0;
        font-family: $f-serif-headline;
        color: #dcdcdc;
    }

    .gv-button {
        background-color: #545454;
        border-radius: 20px;
        height: 20px;
        width: auto;
        display: inline-block;
        padding: 4px 10px 4px 15px;
        cursor: pointer;
        color: #fff;
        position: relative;
        margin-top: 16px;
        span {
            font-size: 14px;
            font-family:$f-sans-serif-text;
            font-weight: 600;
            vertical-align: top;
            line-height: 23px;
        }

        svg {
        	vertical-align: top;
        	margin-top: -1px;
        }
        &:hover {
          background-color: #444;
        }
    }

    .gv-header {
        //background: #ff0000;
        //height: 300px;

        .gv-header-inner {
             position: relative;
        }

         position: relative;
        vertical-align: top;
        z-index: 1;

            .meta {
            display: inline-block;
           width: calc(100% - 20px);
             margin-left: 10px;
            vertical-align: top;

            margin-top: 4px;

            @include mq(tablet) {
                  width: 220px;
                  margin-right: 20px;
                  margin-left: 0;
                  right: 0;
                  top: 0;
                  position: absolute;

            }

            @include mq(wide) {
                 margin-right: 100px;
            }

            .meta__date {
                color: #ececec;
                padding: 2px 0 12px;
                font-size: 14px;
                line-height: 22px;
                font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                line-height: 20px;
            }

            .meta__date:after {
                content: '';
                width: 12px;
                height: 12px;
                background-image: url("<%= path %>/assets/clock.svg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100%;
                display: block;
                float: left;
                margin-right: 4px;
                margin-top: 2px;
            }

            .meta__social {
                padding-top: 4px;
                border-top: solid 1px #646464 !important;

                .interactive-share[data-network='facebook'] {
                    background-image: url("<%= path %>/assets/facebook.svg");
                }

                .interactive-share[data-network='twitter'] {
                        background-image: url("<%= path %>/assets/twitter.svg");
                }

                .interactive-share[data-network='email'] {
                        background-image: url("<%= path %>/assets/mail.svg");
                }

                .interactive-share {
                    background-color: transparent;
    border: 1px solid #999;
    opacity: 0.7;
    height: 32px;
    width: 32px;
    border-radius: 34px;

    display: inline-block;

    cursor: pointer;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;

    &:hover {
        opacity: 1;
    }




                }
            }

        }


        .gv-header-text {
          max-width: 460px;
            padding-bottom: 20px;
            //margin-top: -50px;
            padding-left: 0;
            position: relative;
             @include mq(mobileLandscape) {
            	padding: 0 10px 32px 10px;
            }

            p {
                padding-top: 5px;
            }
        }
        .gv-header-background {
            width: 100%;
            height: 350px;
            //background-image: url('<%= path %>/assets/imgs/header-1.png');
            background-position: 20%;
            background-size: cover;
            @include mq(tablet) {
            	//background-position: 30%;
            	height: 450px;
            }
            @include mq(desktop) {
            	background-position: center;
            }

            &.gv-header-image-1 {
                background-image: url('<%= path %>/assets/imgs/header-1.png');
            }

            &.gv-header-image-2 {
                background-image: url('<%= path %>/assets/imgs/header-2.png');
            }

            &.gv-header-image-3 {
                background-image: url('<%= path %>/assets/imgs/header-3.png');
            }

            &.gv-header-image-4 {
                background-image: url('<%= path %>/assets/imgs/header-4.png');
            }


        }
    }

    .gv-content {
        vertical-align: top;
        //background: #00ff00; //height: 300px;
        font-size: 0;

        h2 {
            //font-size: 30px;
             @include mq(mobileLandscape) {
            	margin: 0 10px 0 10px;
            }
              @include mq(leftCol) {
            	margin: 0 10px 0 0;
            }

        }
        p {
             font-family:$f-serif-headline;
            font-size: 14px;
            line-height: 18px;
            color: #adadad;
            @include mq(mobileLandscape) {
            	margin: 0 10px 0 10px;
            }
             @include mq(desktop) {
                 font-size: 16px;
                line-height: 20px;
            }
              @include mq(leftCol) {
            	margin: 0 10px 0 0;
            }
        }

        .gv-content-section {
            border-top: 1px solid #646464;
        }


        .gv-cards {
            vertical-align: top;
            padding-bottom: 20px; //padding-left: 10px;
            position: relative;
            max-width: 960px;

             @include mq(leftCol) {

            &:before {
            	position: absolute;
            	content: "";
            	display: block;
            	height: 30px;
            	left: -1px;;
            	top: 0;
            	border-left: 1px solid #646464;
            }

        }


            .gv-card:last-of-type {

                margin-right: 0;

                .gv-card-graphic {
                    &:after {
                        display: none;
                    }
                }
            }

            .gv-card:nth-child(2n) {

                margin-right: 0;

                .gv-card-graphic {
                    &:after {
                        display: none;
                    }
                }

                @include mq(phablet) {
                    margin-right: 10px;

                    .gv-card-graphic {
                        &:after {
                            display: block;
                        }
                    }
                }
            }

            .gv-card:nth-child(4n) {

                margin-right: 0;

                .gv-card-graphic {
                    &:after {
                        display: none;
                    }
                }
            }
        }

        .gv-card {
        	position: relative;
            background: #121212;
            margin: 10px 10px 0 10px;
            display: inline-block;
            vertical-align: top;

            &:nth-of-type(odd) {
            	margin-left: 0;
            }

            &:nth-of-type(even) {
            	margin-right: 0;
            }

            width: calc(50% - 10px);

            @include mq(mobileLandscape) {
                &:nth-of-type(odd) {
            	margin-left: 10px;
            	}

            	&:nth-of-type(even) {
            	margin-right: 10px;
            	}
            	width: calc(50% - 20px);
            }

            @include mq(phablet) {
                  width: calc(25% - 20px);
            }

            @include mq(desktop) {

                //width: 220px;

                &.gv-film-card {
                    //height: 350px;
                    .gv-card-graphic {
                        //height: 295px;
                    }
                }

                &.gv-podcast-card {
                    //height: 300px;
                    .gv-card-graphic {
                        //height: 220px;
                    }
                }
            } // Desktop
            .gv-card-graphic {
                width: 100%;
                position: relative; //background: #767676;
                cursor: pointer;

                img {
                    width: 100%;
                }

                &:after {
                    position: absolute;
                    right: -10px;
                    top: 0;
                    height: 100%;
                    content: "";
                    display: block;
                    border-left: 1px solid #646464;
                }
            }
            .gv-card-footer {
                width: 100%;
                padding: 8px 0 10px 0;
                // span {
                //     font-size: 14px;
                // }
                p {
                	margin: 0;
                }
            }
        }
    }

    .gv-footer {
        //background: #0000ff; //height: 300px;
        font-size: 0;
        border-top: 1px solid #646464;
        padding-bottom: 100px;

        .gv-footer-inner {
            border: none;
            position: relative;

            // display: none;

            @include mq(leftCol) {

            &:before {
                position: absolute;
                content: "";
                display: block;
                height: 30px;
                left: 0;
                top: 0;
                border-left: 1px solid #646464;
            }

        }
        }

         p {
             font-family:$f-serif-headline;
            font-size: 16px;
            line-height: 20px;
            color: #adadad;

        }



        .gv-footer-section {
            //width: calc(50% - 20px);
            width: 100%;
            margin: 0;
            background: #121212;
            //margin: 0 10px 0 10px;
            display: inline-block;
            vertical-align: top;
            position: relative;
            border-bottom: 1px solid #646464;
            padding-bottom: 20px;

            &.gv-last {
            	padding-bottom: 0;
            	border-bottom: none;
            }

            @include mq(mobileLandscape) {
            	width: calc(50% - 20px);
            	margin: 0 10px 0 10px;
            	padding-bottom: 0;
            	border-bottom: none;
            &:before {
                content: "";
                display: block;
                height: calc(100% - 10px);
                border-left: 1px solid #646464;
                position: absolute;
                left: -10px;
                top: 10px;
            }

            &:nth-of-type(odd) {
            	 &:before {
            	 display: none;
            	  @include mq(leftCol) {
            	  	//display: block;
                    display: none;
            	  }
            	}

            }

        }
        }
    }
}
