@import "mq";
@import "fonts";
@import "palette";
@import "columns";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.interactive-wrapper {

	background-color: #121212;
	color: #fff;
	vertical-align: top;

	h2 {
		font-size: 30px;
	}
	p {
		font-size: 14px;
		margin: 0;
	}

	.gv-button {
		background-color: #545454;
		border-radius: 20px;
		height: 20px;
		width: auto;
		display: inline-block;
		padding: 5px 10px;
		cursor: pointer;
		span {
		}
	}

.gv-header {
	//background: #ff0000;
	//height: 300px;
	position: relative;
	vertical-align: top;
	.gv-header-text {
		padding-bottom: 20px;
		margin-top: -50px;
	}
	.gv-header-background {
		width: 100%;
		height: 400px;
		background-image: url('<%= path %>/assets/imgs/header-1.png');
		background-position: center;
		background-size: cover;
	}
	
}

.gv-content {
	vertical-align: top;
	background: #00ff00;
	//height: 300px;
	font-size: 0;

	h2 {
		font-size: 30px;
	}
	p {
		font-size: 14px;
		margin: 0;
	}

	.gv-content-section {
		border-top: 1px solid #dcdcdc;
	}


	.gv-cards {
		vertical-align: top;
		padding-bottom: 20px;
		//padding-left: 10px;

		.gv-card:last-of-type {

			.gv-card-graphic {
				&:after {
				display: none;
				border-left: none;
			}
			}

		}
	}

	.gv-card {
		width: 220px;
		background: #121212;
		margin: 10px 10px 0 10px;
		display: inline-block;
		vertical-align: top;

		&.gv-film-card {
			height: 350px;
			.gv-card-graphic {
				height: 295px;
			}
		}

		&.gv-podcast-card {
			height: 300px;
			.gv-card-graphic {
				height: 220px;
			}
		}

		.gv-card-graphic {
			width: 100%;
			position: relative;
			//background: #767676;
			cursor: pointer;

			img {
				width: 100%;
			}

			&:after {
				position: absolute;
				right: -10px;
				top: 0;
				height: 100%;
				content: "";
				display: block;
				border-left: 1px solid #ff0000;
			}
		}
		.gv-card-footer {
			width: 100%;

			span {
				font-size: 14px;
			}
		}
	}
}

.gv-footer {
	background: #0000ff;
	//height: 300px;
	font-size: 14px;

	.gv-footer-section {
		width: 500px;
	}
}

}